.container {
  padding: 0 2rem;
}
.container:before {
  content: '#';
  font-size: 60rem;
  top: -30rem;
  left: -8rem;
  font-weight: bold;
  display: block;
  position: absolute;
  color: #dedede;
  text-shadow:;
  z-index: -1;
}

.main {
  min-height: 100vh;
  padding: 2rem 0 4rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #222;
}



.title,
.description,
.tip {
  text-align: center;
}

.description {
  margin: 2rem 0 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.tip {
  margin: 1rem 0 2rem 0;
}

.tiles {
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(256, 5rem);
  grid-gap: 0;
  gap: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #FFF;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.9);
  font-weight: bold;
}
.tile:nth-child(1) {
  border-top-left-radius: 0.5rem;
}
.tile:nth-last-child(1) {
  border-bottom-right-radius: 0.5rem;
}

.tile:after {
  content: attr(title);
  display: inline;
  opacity: 0;
}

.tile:hover, .tile:focus {
  border-radius: 0.5rem !important;
  z-index: 1;
  margin: -1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.tile:hover:after, .tile:focus:after {
  opacity: 1;
}
.tile:nth-child(16) {
  border-top-right-radius: 0.5rem;
}

.tile:nth-last-child(16) {
  border-bottom-left-radius: 0.5rem;
}


@media only screen and (max-width: 1024px) {
  .tile:nth-child(16) {
    border-top-right-radius: 0;
  }
  
  .tile:nth-last-child(16) {
    border-bottom-left-radius: 0;
  }

  .tile:nth-child(8) {
    border-top-right-radius: 0.5rem;
  }

  .tile:nth-last-child(8) {
    border-bottom-left-radius: 0.5rem;
  }
  .container {
    padding: 0 1rem;
  }
  .tiles {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(512, 5rem);
  }
}

@media only screen and (max-width: 456px) {

  .tile:nth-child(8) {
    border-top-right-radius: 0;
  }

  .tile:nth-last-child(8) {
    border-bottom-left-radius: 0;
  }
  .tile:nth-child(4) {
    border-top-right-radius: 0.5rem;
  }

  .tile:nth-last-child(4) {
    border-bottom-left-radius: 0.5rem;
  }
  .container {
    padding: 0 1rem;
  }
  .container:before {
    content: '#';
    font-size: 40rem;
    top: -20rem;
    left: -6rem;
  }
  .tiles {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1024, 5rem);
  }
}