.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.tiles {
  border-radius: 0.5em;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(256, 5em);
  grid-gap: 0;
  gap: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  overflow: hidden;
  background-color: currentColor;
}
.tile > span {
  opacity: 0;
  color: #FFF;
  text-shadow: 1px 1px 0 #000;
}

.tile:hover, .tile:focus {
  border-radius: 3px;
  z-index: 1;
  margin: -1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.tile:hover > span, .tile:focus > span {
  opacity: 1;
}


@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 1rem;
  }
  .tiles {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(512, 5rem);
  }
}

@media only screen and (max-width: 456px) {
  .container {
    padding: 0 1rem;
  }
  .tiles {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1024, 5rem);
  }
}